<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="full">
    <ion-item>
      <ion-input [(ngModel)]="email"
        label="Correo" 
        type="email" 
        label-placement="floating"
        fill="solid"
        placeholder="Ingrese su correo" 
        required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="password"
        label="Contraseña" 
        type="password" 
        label-placement="floating"
        fill="solid"
        placeholder="Ingrese su contraseña" 
        required>
      </ion-input>
    </ion-item>

    <ion-item lines="none" class="ion-margin-top">
      <ion-button expand="block" color="primary" (click)="login()">Iniciar sesión</ion-button>
    </ion-item>

    <ion-text>
      <p>¿No tienes cuenta? <a routerLink="/register"> Regístrate</a></p>
    </ion-text>
  </ion-list>
</ion-content>
