<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <form (ngSubmit)="login(loginForm)" #loginForm="ngForm">
  <ion-list lines="full">
    <ion-item>
      <ion-input 
      name="email"
      [(ngModel)]="email"
      label="Correo electronico"
      type="email"
      labelPlacement="floating"
      placeholder="example@gmail.com"
      errorText="El correo electronico no es valido"
      email
      required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input name="password"
        [(ngModel)]="password"
        label="Contraseña" 
        type="password" 
        labelPlacement="floating"
        fill="solid"
        placeholder="Ingrese su contraseña" 
        required>
      </ion-input>
    </ion-item>

    <ion-item lines="none" class="ion-margin-top">
      <ion-button type="submit" expand="block" color="primary"  [disabled]="loginForm.invalid">Iniciar sesión</ion-button>
    </ion-item>

    <ion-text>
      <p>¿No tienes cuenta? <a routerLink="/register"> Regístrate</a></p>
    </ion-text>
  </ion-list>
</form>
</ion-content>
