<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar></ion-searchbar>
  <ion-searchbar placeholder="Custom Placeholder"></ion-searchbar>
  <ion-searchbar disabled="true" placeholder="Disabled"></ion-searchbar>
  <ion-searchbar value="Value"></ion-searchbar>
  <ion-searchbar animated="true" placeholder="Animated"></ion-searchbar>
</ion-content>
