<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Range</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-range labelPlacement="start" label="Label at the Start"></ion-range>
  <br />
  <ion-range labelPlacement="end" label="Label at the End"></ion-range>
  <br />
  <ion-range labelPlacement="fixed" label="Fixed Width Label"></ion-range>
  <br />
  <ion-range labelPlacement="stacked" label="Stacked Label"></ion-range>
</ion-content>
