<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list [inset]="true">
    <ion-item routerLink="/cards">
      <ion-label>Cards</ion-label>
    </ion-item>
    <ion-item routerLink="/badges">
      <ion-label>Badges</ion-label>
    </ion-item>
    <ion-item routerLink="/datatime">
      <ion-label>Data Time</ion-label>
    </ion-item>
    <ion-item routerLink="/content">
      <ion-label>Content</ion-label>
    </ion-item>
    <ion-item routerLink="/accordions">
      <ion-label>Accordions</ion-label>
    </ion-item>
    <ion-item routerLink="/toast">
      <ion-label>Toast</ion-label>
    </ion-item>
    <ion-item routerLink="/search">
      <ion-label>Search</ion-label>
    </ion-item>
    <ion-item routerLink="/radio">
      <ion-label>Radio</ion-label>
    </ion-item>
    <ion-item routerLink="/toggle">
      <ion-label>Toggle</ion-label>
    </ion-item>
    <ion-item routerLink="/select">
      <ion-label>Select</ion-label>
    </ion-item>
    <ion-item routerLink="/segment">
      <ion-label>Segment</ion-label>
    </ion-item>
    <ion-item routerLink="/range">
      <ion-label>Range</ion-label>
    </ion-item>
    <ion-item routerLink="/loading">
      <ion-label>Loading</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
