<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Registrar cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <form (ngSubmit)="register(registerForm)" #registerForm="ngForm">
  <ion-list lines="full">
    <ion-item>
      <ion-input 
        name="email"
        [(ngModel)]="email"
        label="Correo electronico"
        type="email"
        labelPlacement="floating"
        placeholder="example@gmail.com"
        errorText="El correo electronico no es valido"
        email
        required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input name="password"
      [(ngModel)]="password"
        label="Contraseña" 
        type="password" 
        label-placement="floating"
        fill="solid"
        placeholder="Ingrese su contraseña" 
        required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input name="confirmPassword"
      [(ngModel)]="confirmPassword"
        label="Confirmar contraseña" 
        type="password" 
        label-placement="floating"
        fill="solid"
        placeholder="Ingrese su contraseña" 
        required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input name="name"
      [(ngModel)]="name"
        label="Nombres" 
        type="text" 
        label-placement="floating"
        fill="solid"
        placeholder="Ingrese su nombres" 
        required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input name="lastName"
      [(ngModel)]="lastName"
        label="Apellidos" 
        type="text" 
        label-placement="floating"
        fill="solid"
        placeholder="Ingrese su nombres" 
        required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input name="phone"
      [(ngModel)]="phone"
        label="Telefono" 
        type="tel" 
        label-placement="floating"
        maxlength="10"
        fill="solid"
        placeholder="Ingrese su nombres" 
        required>
      </ion-input>
    </ion-item>

    <ion-item lines="none" class="ion-margin-top">
      <ion-button type="submit" expand="block" color="primary" [disabled]="registerForm.invalid">Registrar cuenta</ion-button>
    </ion-item>

    <ion-text>
      <p>¿Ya tienes cuenta? <a routerLink="/login"> Iniciar Sesión</a></p>
    </ion-text>
  </ion-list>
</form>
</ion-content>
